In [1]:
a=float(input("Enter Marks in English :\t"))
b=float(input("Enter Marks in Maths: \t"))
c=float(input("Enter Marks in Physics: \t"))
d=float(input("Enter Marks in Chemistry: \t"))
e=float(input("Enter Marks in Computer Science: \t"))
avg=((a+b+c+d+e)/500)*100
if(avg>=80):
    
	print("Congratulations ! You have secured first Class, and your percentage is ", avg)
elif(avg>=60 and avg<80):
	print("Congratulations ! You have secured Seecond Classand your percentage is ", avg )
elif (avg>=40 and avg<60):
	print("Congratulations ! You have secured Third Class, and your percentage is ", avg)
elif (avg<40):
	print( "You are fail")

Enter Marks in English :	56
Enter Marks in Maths: 	45
Enter Marks in Physics: 	87
Enter Marks in Chemistry: 	65
Enter Marks in Computer Science: 	34
Congratulations ! You have secured Third Class, and your percentage is  57.4

In [2]:
number=int(input("Enter the number"))
if (number %2 ==0):
    print("Entered number is even")
else:
    print("Entered number is odd")

Enter the number12
Entered number is even

In [4]:
list=len(["warda","amy","hira","maria","aqsa"])
print(list)

5

In [5]:
numeric_list=sum([4,34,5,67,10])
print(numeric_list)

120

In [7]:
largest_number=max([4,34,5,67,10])
print(largest_number)

67

In [8]:
list = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print("Number less than 5 are")
for i in list:
    if i<5:
        print(i)

Number less than 5 are
1
1
2
3