In [2]:

def factorial(num):
    if num == 1:
        return 1
    else:
        return num * factorial(num - 1)

factorial(5)

120

In [3]:
def lengthOfString(string):
    dict1 = {"Upper" : 0, "Lower" : 0}
    for char in string:
        if char.isupper():
            dict1["Upper"] += 1
        elif char.islower():
            dict1["Lower"] += 1
        else:
            pass
    print(f"Result : {dict1}")
string = str(input("Enter String : "))
lengthOfString(string)

Enter String : Maria Masood
Result : {'Upper': 2, 'Lower': 9}

In [6]:
def even(list1):
    for i in list1:
        if i % 2 == 0:
            print(f"Even : {i}")
list1 = [ 1, 3, 4, 2, 9, 27, 28, 444]
even(list1)

Even : 4
Even : 2
Even : 28
Even : 444

In [10]:
def pallendrom(string2):
    string2 = string2.lower()
    if string2 == string2[::-1]:
        print(f"{string2} is palindrome")
    else:
        print(f"{string2} is not palindrome")
pallendrom("madam")

madam is palindrome

In [11]:
def prime(num):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                print(f"{num} is not prime")
                print(f"{i} times {num/i} is {num} ")
                break
            else:
                print(f"{num} is prime")
                break
    else:
        print(f"{num} culd not be a prime")
prime(11)

11 is prime

In [13]:
def items(*opt):
    print(opt)

items("Matchsticks", "Tablet", "Watch")

('Matchsticks', 'Tablet', 'Watch')